/*NOTE: LOGIN*/
.bg-login
{
    background-image: url("../img/bg-brq.jpg");
}

.container-login
{
    padding-top: 25%;
}
.img-logo
{
    width: 55%;
    padding-bottom: 10%;
}
.input-login
{
    background-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    color: #fff;
}

.input-login input
{
    color:#fff;
}

.esqueci-senha
{
    color:#fff;
    padding-top: 10%;
    text-decoration: underline;
}

.valid-input
{
    border-top-color: #f00;
    border-bottom-color: #f00;
}
.valid-input > i 
{
    color: #f00;
}

.spinner-button 
{
    stroke: #fff;
}

.spinner-button > svg 
{
    margin-top: 9px;
}

/*NOTE: MENU*/
.menu-bg
{
    background-color: #3F4A59;
}

.menu-bg .item, .menu-bg .item>a
{
    background-color: #3F4A59;
    color:#fff;
    border-color: #fff;
}
.bar.bar-stable
{
    background-color: #3F4A59;
}

.bar.bar-stable .button-icon.icon.ion-navicon
{
    color: #ffa500;
}
.bar.bar-stable .title
{
    color: #fff;
}

.nav-menu-bg
{
    border-color: #b2b2b2 !important;
    background-color: #f8f8f8 !important;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%) !important;
    color: #444 !important;
}

.nav-menu-bg .title{
    color: #444 !important;
}

.button-orange
{
    color: #ffa500 !important;
}
h2
{
    line-height: 1.5 !important;
}

/*NOTE: DETALHES*/
.img-avatar
{
    border-radius: 50%;
    max-width: 50px;
}

.img-noticia 
{
    width: 100%;
}

.avatar-name
{
    position: relative;
    display: inline-block;
    top: -21px;
    margin-left: 10px;
}

.box-avatar-det
{
    border: none;
}

.button-gostei
{
    margin-top: 95%;
    margin-right: 8px;
    display: inline-block;
    font-size: 22px;
    color:#ff6eb4;;
}

