<ion-view>
    <ion-content class="bg-login">
        <div class="row animated fadeInDown container-login">
            <div class="col-60 col-offset-20">
                <div class="list">
                    <div class="text-center">
                        <img class="img-logo" src="img/logo-brq.png">
                    </div>
                    <label class="item item-input input-login">
                        <i class="icon ion-person"></i>&nbsp;
                        <input type="text" placeholder="Usuário">
                    </label>
                    <label class="item item-input input-login">
                        <i class="icon ion-locked"></i>&nbsp;
                        <input type="password" placeholder="Senha">
                    </label>
                    <button type="button" class="button button-block button-calm">Entrar</button>
                    <div class="text-center">
                        <a href="#" class="esqueci-senha">Esqueci minha senha...</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>