<ion-view title="Meus Dados">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header animated fadeIn">
        <ion-tabs class="tabs-icon-top">
            <ion-tab title="Geral" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
                <ion-nav-view>
                    tab 1
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Pessoal" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
                <ion-nav-view>
                    tab 2
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Férias" icon-on="ion-ios-partlysunny" icon-off="ion-ios-partlysunny-outline">
                <ion-nav-view>
                    tab 3
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>