<ion-view title="Meus Dados">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header animated fadeIn">
        <ion-tabs class="tabs-icon-top">
            <ion-tab title="Geral" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
                <ion-nav-view>
                    <div class="list">
                        <div class="item item-divider">
                            BRQ
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Centro de Custo: </span><span class="dados-pessoais">C8360 - UNA6 - Negócios 2</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Gestor: </span><span class="dados-pessoais">Leandro Furini</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Matrícula: </span><span class="dados-pessoais">14508</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">E-mail: </span><span class="dados-pessoais">testeSilva@brq.com</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Admissão: </span><span class="dados-pessoais"> 05/01/2015</span>
                        </a>
                        <div class="item item-divider">
                            Contatos
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">E-mail: </span><span class="dados-pessoais">testeSilva@brq.com</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Ramal: </span><span class="dados-pessoais">(41) 5366</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Telefone Pessoal: </span><span class="dados-pessoais">(41) 99999-9999</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Celular BRQ: </span><span class="dados-pessoais">Não possui</span>
                        </a>
                        <div class="item item-divider">
                            Local de Trabalho
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Unidade: </span><span class="dados-pessoais">Marechal</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Cidade: </span><span class="dados-pessoais">Curitiba-PR</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Andar: </span><span class="dados-pessoais">Sobreloja</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Posição: </span><span class="dados-pessoais">219</span>
                        </a>
                    </div>
                    <br>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Pessoal" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
                <ion-nav-view>
                    <div class="list">
                        <div class="item item-divider">
                            Endereço Pessoal
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Endereço: </span><span class="dados-pessoais">Adir Pedroso, 777</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Complemento: </span><span class="dados-pessoais"></span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Bairro: </span><span class="dados-pessoais">Iná</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Cidade: </span><span class="dados-pessoais">São José dos Pinhais-PR</span>
                        </a>
                        <div class="item item-divider">
                            Contatos Pessoais
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Residencial: </span><span class="dados-pessoais">(41) 3333-3333</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Celular: </span><span class="dados-pessoais">(41) 99999-9999</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">E-mail: </span><span class="dados-pessoais">testesilva@hotmail.com</span>
                        </a>
                        <div class="item item-divider">
                            Dependentes
                        </div>
                        <a class="item">
                            <span class="dados-pessoais">Testa da Silva</span>
                        </a>
                        <div class="item item-divider">
                            Dados Bancários
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Banco: </span><span class="dados-pessoais">033</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Agência: </span><span class="dados-pessoais">0811</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Conta: </span><span class="dados-pessoais">00000000-0</span>
                        </a>
                        <div class="item item-divider">
                            Documentação
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Data Nascimento: </span><span class="dados-pessoais">16/07/1990</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Carteira de Trabalho: </span><span class="dados-pessoais">0000000</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Título de Eleitor: </span><span class="dados-pessoais">0000000000000</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">PIS: </span><span class="dados-pessoais">00000000000</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">RG: </span><span class="dados-pessoais">0.000.000-0</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">CPF: </span><span class="dados-pessoais">000.000.000-00</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Pai: </span><span class="dados-pessoais">Testão da Silva</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Mãe: </span><span class="dados-pessoais">Testona da Silva</span>
                        </a>
                        <br><br>
                    </div>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Férias" icon-on="ion-ios-partlysunny" icon-off="ion-ios-partlysunny-outline">
                <ion-nav-view>
                    <div class="list">
                        <div class="item item-divider">
                            De 01/03/2016 à 20/03/2016 
                        </div>
                        <a class="item">
                            <span class="desc-dados-pessoais">Dias de Férias: </span><span class="dados-pessoais">20</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">Dias de Abono: </span><span class="dados-pessoais">10</span>
                        </a>
                        <a class="item">
                            <span class="desc-dados-pessoais">13º Salário: </span><span class="dados-pessoais">Não</span>
                        </a>
                    </div>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>