<ion-view title="Meu Ponto Eletrônico">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header animated fadeIn">
        <div class="row">
            <div class="col">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Período de Apuração
                    </div>
                    <select>
                        <optgroup label="Períodos Abertos">
                            <option>11/11/2016 - 10/12/2016</option>
                        </optgroup>
                        <optgroup label="Períodos Fechados">
                            <option>11/10/2016 - 10/11/2016</option>
                            <option>11/09/2016 - 10/10/2016</option>
                        </optgroup>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-divider">
                        Quarta-Feira - 10/08/2016
                    </div>
                    <div class="item item-text-wrap">
                        Entrada: 08:30
                    </div>
                    <div class="item item-text-wrap">
                        Saída: 12:00
                    </div>
                    <div class="item item-text-wrap">
                        Entrada: 13:00
                    </div>
                    <div class="item item-text-wrap">
                        Saída: 17:30
                    </div>
                    <div class="item item-divider">
                        Terça-Feira - 09/08/2016
                    </div>
                    <div class="item item-text-wrap">
                        Entrada: 08:30
                    </div>
                    <div class="item item-text-wrap">
                        Saída: 12:00
                    </div>
                    <div class="item item-text-wrap">
                        Entrada: 13:00
                    </div>
                    <div class="item item-text-wrap">
                        Saída: 17:30
                    </div>
                    <div class="item item-divider">
                        Segunda-Feira - 09/08/2016
                    </div>
                    <div class="item item-text-wrap">
                        Entrada: 08:30
                    </div>
                    <div class="item item-text-wrap">
                        Saída: 12:00
                    </div>
                    <div class="item item-text-wrap">
                        Entrada: 13:00
                    </div>
                    <div class="item item-text-wrap">
                        Saída: 17:30
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>